<h1 id="tt">Hw01</h1>

<div id="dd" class="row">
</div>


@section Styles{
<style>

</style>
}
@section Scripts
{
<script src="~/js/travel.js"></script>
<script>
    const dd = document.querySelector("#dd");
    const tt = document.querySelector("#tt");
    //let save = document.createDocumentFragment();
        var str=""
    for (var item of DATAS) 
    {
            str += ` <div class="card" style = "width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">${item.InfoId}</h5>
            <h6 class="card-subtitle mb-2 text-muted">${item.Name}</h6>
            <p class="card-text">${item.Toldescribe}</p>
            <a href="${item.Website}" class="card-link">網址</a>
            </div></div>`;
            //save.append(str);
    }
        dd.innerHTML = str;
    //document.append(save);
</script>
}